<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Dev Activity</title>
</head>
<body>
    <h1>Form Test</h1>
    <form action="/save" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name"><br><br>
        <label for="description">Description:</label>
        <input type="text" id="name" name="description" placeholder="description"><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" placeholder="price"><br><br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="price" name="quantity" placeholder="quantity"><br><br>
        <input type="submit" value="save">

    </form>
</body>
</html>